@model IEnumerable<ProjCsharp.Models.Departament>
@{
    ViewData["Title"] = "Departamentos";

}








<div class="p-4">
    <div>
        <div class="container">
            <div class="p-2">
                <div class="row">
                    <div class="col-12"> <h6>Departamentos </h6></div>
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-info">Novo departamento</button>
                    </div>
                    <br><br>
                    <div class="col-10" id="divTabDep">
                    </div>
                </div>

            </div>

        </div>


    </div>
 
</div>


