@model IEnumerable<ProjCsharp.Models.Departament>
@{
    ViewData["Title"] = "Departamentos";

}

<div class="p-4">
    <div>
        <div class="container">
            <div class="p-2">
                <div class="row">
                    <div class="col-12"> <h6>Departamentos </h6></div>
                    <div class="col-10">
                        <button type="button" class="btn btn-outline-info novoDepartamento">Novo departamento</button>
                    </div>
                    <br><br>
                    <div class="p-3 col-10" id="divTabelaDep">
                    </div>
                </div>

            </div>

        </div>


    </div>
 
</div>

<!--Modal-->
<div id="modal"  class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de departamentos</h5>

            </div>

            <div class="modal-body">
                <input type="hidden" class="form-control form-control-sm id" />
                <div>
                    <label>Nome do departamento</label>
                    <input type="text" class="form-control form-control-sm name" />
                    <span class="text-warning erroName d-none"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btnSalvar">Salvar</button>
                <button type="button" class="btn btn-outline-danger"data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
