@model IEnumerable<ProjCsharp.Models.Seller>
@{
    ViewData["Title"] = "Vendedores";
}



<div class="p-4">
    <div class="container">
        <div class="p-2">
            <div class="row">
                <div class="col-12"> <h6>Vendedores </h6></div>
                <div class="col-10">
                    <button type="button" class="btn btn-outline-info">Cadastrar de vendedores</button>
                </div>
                <br><br>
                <div class="col-10" id="divTabSellers"></div>
                
            </div>


        </div>

    </div>

</div>