@model IEnumerable<ProjCsharp.Models.SalesRecord>
@{
    ViewData["Title"] = "Recorde de vendas da reitoria comercial";

}


<div class="p-4">
    <div class="container">
        <div class="p-2">
            <div class="row">
                <div class="col-12"> <h6>Recorde de vendas </h6></div>
                <div class="col-10">
                    <button type="button" class="btn btn-outline-info novoSalesRecord">Cadastrar novo recorde de vendas</button>
                </div>
                <br><br>
                <div class="col-10" id="divTabela">
     
                </div>
            </div>


        </div>

    </div>

</div>
<!--Modal-->
<div id="modal-sr" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastro de departamentos</h5>

            </div>

            <div class="modal-body">
                <input type="hidden" class="form-control form-control-sm srId" />
                 <div>
                    <label>Data</label>
                    <input type="text" class="form-control form-control-sm Date" />
                    <span class="text-danger erroName d-none"></span>
                 </div>
                <div>
                    <label>Valor recordista</label>
                    <input type="text" class="form-control form-control-sm Amount" />
                    <span class="text-danger erroName d-none"></span>
                </div>
                <div>
                    <label>ID do vendedor</label>
                    <input type="text" class="form-control form-control-sm SellerId" />
                    <span class="text-danger erroName d-none"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning btnSave">Salvar</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>






<!--<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Valor da venda</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active">
            <th scope="row">Active</th>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>-->

